<h1>Member Details</h1>

<ul>
  <li>Name: <%= @member.format_name %> </li>
  <li>Classes:
    <% @member.gym_classes.each do |gym_class| %>
    <p><%= gym_class.name %></p>
    <% end %>
  </li>
</ul>

<!-- alternative way of displaying the information -->
<!-- <table>
  <tr>
    <th>Name</th>
    <th>Classes</th>
  </tr>
  <tr>
    <td><%= @member.format_name %></td>
    <td><% @member.gym_classes.each do |gym_class| %>
    <p><%= gym_class.name %></p>
    </td>
  </tr>
  <% end %>
</table> -->
<!-- ####################### -->

<form method="post" action="/members/<%= @member.id %>/delete">
  <input type="submit" value="Delete Member"/>
</form>

<form method="get" action="/members/<%= @member.id %>/edit">
  <input type="submit" value="Edit Member"/>
</form>

<form method="get" action="/home" >
  <input type="submit" value="Home">
</form>
