<h1>Member Details</h1>

<ul>
  <li>Name: <%= @member.format_name %> </li>
  <li>Membership Type: <%= @member.type %> </li>
  <li>Classes:
    <% @member.gym_classes.each do |gym_class| %>
    <p><%= gym_class.name %></p>
    <% end %>
  </li>
</ul>

<form method="post" action="/members/<%= @member.id %>/delete">
  <input type="submit" value="Delete Member"/>
</form>

<form method="get" action="/members/<%= @member.id %>/edit">
  <input type="submit" value="Edit Member"/>
</form>
