<h1>Bookings</h1>

<table>
  <tr>
    <th>Booking Number</th>
    <th>Member</th>
    <th>Class</th>
    <th>See Booking Details</th>
  </tr>
  <% for booking in @bookings %>
  <tr>
    <td><a href="/bookings/<%= booking.id %>"><%= booking.id %></a></td>
    <td><a href="/bookings/<%= booking.id %>"><%= booking.member.format_name %></a></td>
    <td><a href="/bookings/<%= booking.id %>"><%= booking.gym_class.name %></a></td>
    <td><a href="/bookings/"></a></td>
  </tr>
  <% end %>
</table>

<h1>Classes by Member</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Booked Classes</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.format_name %></a></td>
    <td><a href="/gym_classes/<%= member.id %>"><% member.gym_classes.each do |gym_class| %><%=gym_class.name%><% end %></a></td>
  </tr>
  <% end %>
</table>

<nav>
    <ul>
    <li><a href="/bookings/new">Add a Booking</a></li>
    <!-- <li><a href="/bookings/by_member">Bookings by Member</a></li> -->
    <!-- <li><a href="/bookings/edit">Edit Classes</a></li> -->
    <!-- <li><a href="/bookings/delete">Delete Classes</a></li> -->
    <li><a href="/home">Home</a></li>
  </ul>
</nav>
